.app-header {
    background-color: #263238;
    height: 36px;
    padding: 14px 32px 8px 16px;
}
.header-logo{
    color: aliceblue;
    font-size: 18px;  
    width: 80%;
}
.search-box-container{
    width: 300px;
    background-color: #c0c0c0;
    display: flex;
    border-radius: 4px;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
}
.search-input{
    
}
.search-icon{
    padding-left: 5px;
    padding-top: 5px;
}